<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A forum for literary discussions.">
    <meta name="keywords" content="forum, posts, comments, discussions, literary">
    <title>Create and View Posts</title>
    <link rel="stylesheet" href="/static/css/postStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        {{if .Authenticated}}
        <p class="welcome">WELCOME TO</p><h1>LITERARY LIONS FORUM</h1>
        {{else}}
        <h1>LITERARY LIONS FORUM</h1>
        {{end}}
        <nav>
            <a class="headerlinks" href="/">Home</a>
            <a class="headerlinks" href="/post">Forum</a>
            {{if .Authenticated}}
                <a class="headerlinks" href="/logout">Logout</a>
                <a class="headerlinks" href="/profile">My Page</a>
                <a class="headerlinks" href="/categories">My Posts</a>
                <p class="loggedin">Logged in as</p>
                <strong><p class="usernamelogged">{{.Username}}</p></strong>
            {{else}}
                <a class="headerlinks" href="/login">Login</a>
                <a class="headerlinks" href="/register">Register</a>
            {{end}}
        </nav>
    </header>

    <main>
        {{if .Authenticated}}
        <div class="create-filter-container">
            <section class="create-post">
                <h2>Create a New Post</h2>
                <form action="/post/create" method="post" enctype="multipart/form-data">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                    
                    <label for="content">Content:</label>
                    <textarea id="content" name="content" required></textarea>
                    
                    <label for="category">Category:</label>
                    <select id="category" name="category" required>
                    <option value="General">General</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Science fiction">Science Fiction</option>
                    <option value="Romance">Romance</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Historical">Historical</option>
                    </select>
        
                   <!-- <label for="image">Image:</label>
                    <input type="file" id="image" name="image" accept="image/*">-->
                    
                    <button type="submit" class="postpagebutton">Post</button>
                </form>
            </section>
            {{else}}
            <p>You need to <a class="loginlink" href="/login">login</a> to post.</p>
            {{end}}

            <section class="filter-posts">
                <h2>Filter Posts by</h2>
                <form action="/filter" method="get">

                    <label for="category-filter">Category:</label>
                    <select id="category-filter" name="category">
                        <option value="">All</option>
                        <option value="General">General</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Science fiction">Science Fiction</option>
                        <option value="Romance">Romance</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Historical">Historical</option>
                    </select>

                </select>
                <label for="replies-filter">Replies:</label>
                <select id="replies-filter" name="replies">
                <option value="">All</option>
                <option value="asc">Least Replies</option>
                <option value="desc">Most Replies</option>
                </select>

                {{if .Authenticated}}
                   <br><label for="likes-filter">Likes:</label>
                    <select id="likes-filter" name="likes">
                    <option value="">All</option>
                    <option value="asc">Least Likes</option>
                    <option value="desc">Most Likes</option>
                    </select>

                    <label for="dislikes-filter">Dislikes:</label>
                    <select id="dislikes-filter" name="dislikes">
                        <option value="">All</option>
                        <option value="asc">Least Dislikes</option>
                        <option value="desc">Most Dislikes</option>
                    </select>

                   <label for="time-filter">Time:</label>
                    <select id="time-filter" name="sort">
                        <option value="">All</option>
                        <option value="asc">Oldest First</option>
                        <option value="desc">Newest First</option>
                    </select>
                    {{end}}  

                <br><button type="submit" class="postpagebutton">Filter</button>
                </form>
            </section>
        </div>

        <section class="posts">
            <h2 class="biggerheader">Posts</h2><br>
            <div class="posts-table">
                <div class="table-head">
                    <div class="status"></div>
                    <div class="subjects">Title</div>
                    <div class="subjects">Replies</div>
                    <div class="subjects">Likes</div>
                </div>
                {{range .Posts}}
                <div class="table-row">
                    <div class="status-icon">
                        <i class="fa-solid fa-book-open-reader" style="color: #B197FC;"></i>
                    </div>
                    <div class="subjects">
                        <a class="titlefont" href="/post/view?id={{.ID}}"><b>{{.Title}}</b></a>
                        <br>
                        <p>Started by: {{.Username}}</p>
                        <p>Posted at: {{.CreatedAtFormatted}}</p>
                        <p>Category: {{.Category}}</p>
                        <p>Last Reply: {{.LastReplyUser.String}}</p>
                    </div>
                    <div class="subjects">
                        {{.RepliesCount}} replies
                    </div>
                    <div class="subjects">
                        <p>Likes: {{ .Likes }}</p>
                        <p>Dislikes: {{ .Dislikes }}</p>
                    </div>
                </div>
                {{else}}
                <p>No posts available.</p>
                {{end}}
            </div>
        </section>

        <div class="pagination">
            {{if gt .Pagination.TotalPages 1}}
                <span>Page {{.Pagination.CurrentPage}} of {{.Pagination.TotalPages}}</span>
                {{if gt .Pagination.CurrentPage 1}}
                    <a href="/filter?page={{sub .Pagination.CurrentPage 1}}&pageSize={{.Pagination.PageSize}}&category={{.Filter.Category}}&sort={{.Filter.SortOrder}}&likes={{.Filter.LikesOrder}}">Previous</a>
                {{end}}
                {{if lt .Pagination.CurrentPage .Pagination.TotalPages}}
                    <a href="/filter?page={{add .Pagination.CurrentPage 1}}&pageSize={{.Pagination.PageSize}}&category={{.Filter.Category}}&sort={{.Filter.SortOrder}}&likes={{.Filter.LikesOrder}}">Next</a>
                {{end}}
            {{end}}
        </div>

    </main>

    <footer>
        <p>&copy; 2024 - Jonathan Dahl & Laura Levistö - KOOD/Sisu</p>
    </footer>
</body>
</html>
